<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://139.28.37.150:5432/credentials</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">jumpjet77</property> <!-- DB User -->
        <property name="connection.password">Dovhoshliubnyi77</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="connection.release_mode">auto</property>
        <property name="transaction.auto_close_session">true</property>
        <property name="connection.autocommit">true</property>
        <property name="hibernate.current_session_context_class">thread</property>


        <property name="c3p0.min_size">10</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">3000</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.timeout">1800</property>

    </session-factory>
</hibernate-configuration>