form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 100px auto;
}

form input {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
}

form button {
    padding: 7px;
    font-size: 18px;
    background: #262626;
    color: white;
    border: none;
}